In [5]:
maxi=0
maxi2=0
data=[10,45,67,89,123]
for i in range(0,len(data)):
  if(data[i]>maxi):
    maxi2=maxi
    maxi=data[i]
  elif(data[i]>maxi2):
    maxi2=data[i]

print(maxi)
print(maxi2)

123
89

In [17]:
# find duplicat element
data=[10,20,30,40,10]
for i in range(0,len(data)):

  for j in range(i+1,len(data)):
    if(data[i]==data[j]):
      print("duplicate element ",data[i])

duplicate element  10

In [20]:
# combination target=60
data = [10, 20, 30, 40, 10]
target = 60

for i in range(0,len(data)):

    for j in range(i + 1, len(data)):
        if data[i] + data[j] == target:
            print("combination", data[i], data[j])

combination 20 40

In [21]:
# list
# append, extend, pop, sort

In [ ]:
# Tuple
# datatype,collect
# immutable
# index position

In [23]:
x=10,201,2,3
print(type(x))

<class 'tuple'>

In [25]:
mytuple=(10,20,"hey")
print(mytuple)

(10, 20, 'hey')

In [27]:
mytuple=(10,20,"hey")
 # mytuple[0]=123123

In [ ]:
# Dictionary
# key-value
# key => unique
# value => unique or duplicate

#{ key:value}
#{89009:["name",+95623]}
# [10111,61234,5675,86896,75975]
# ["a","b","c","d","e"]
# [8345,73549,05389,56437,643345]

In [29]:
aadharDetails={101:"krishna", 102:"tushar", 103:"tushar"}

In [30]:
aadharDetails[101]

'krishna'

In [31]:
aadharDetails={101:"krishna", 102:"tushar", 103:"tushar"}
aadharDetails[103]="harshit"
aadharDetails

{101: 'krishna', 102: 'tushar', 103: 'harshit'}

In [32]:
aadharDetails={101:"krishna", 102:"tushar", 103:"tushar"}
aadharDetails[103]="harshit" #update
aadharDetails[11234]="shyam" #insert
aadharDetails

{101: 'krishna', 102: 'tushar', 103: 'harshit', 11234: 'shyam'}

In [36]:
marks={1:10,2:85,3:31,4:56}
marks[3]=marks[3]+5  # => 31+5=36  marks[3]+=5
print(marks)

{1: 10, 2: 85, 3: 36, 4: 56}

In [43]:
mycount={1:0}
for i in range(56, 98):
    mycount[1]=mycount[1]+1
print(mycount)

{1: 42}

In [44]:
mychar={"total":0}
data="rhytam bde"
for i in range(0,len(data)):
    mychar["total"]=mychar["total"]+1
print(mychar)

{'total': 10}

In [ ]:
# learning assignment
# 1.List comphrehnsion
# 2.zip vs enumerate function